.navigation {
    background-color: rgb(190, 25, 25);
    border-radius: 10px;
    margin: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
  }
  
  .navigation a {
    max-height: 43px;
    padding: 1rem;
    color: var(--blanco);
    font-size: 2rem;
    font-weight: 700;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 57px;
    align-items: center;
  }
  
  .contenedor {
    display: flex;
    align-items: stretch;
  }
  
  .izquierda,
  .derecha {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  
  
  section {
    height: 100%;
  }
  
  section #sourceTA,
  section #targetDiv {
  
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(194, 194, 214);
    height: 100%;
  
  }
  
  
  .elemento {
    width: 60%;
    /* Ajusta el ancho según tus necesidades */
    height: 40%;
    /* Ajusta la altura según tus necesidades */
    background-color: grey;
    /* Color de fondo gris */
    border: 2px solid black;
    cursor: move;
  
  }
  
  .elemento.select {
    transform: scale(1.02) rotate(-0.2deg);
    box-shadow: 0px 0px 20px rgba(149, 153, 159, 0.16);
  
  }
  
  .elemento.blue-background-class {
    border: 2px dotted;
  }
  
  #headerButton {
    position: relative;
    display: inline-block;
  }
  
  #headerMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 5px;
    z-index: 1;
  }
  
  #headerMenu a {
    display: block;
    padding: 6px;
    text-decoration: none;
    color: #010000;
    text-align: start;
    font-size: medium;
  }
  
  #headerMenu a:hover {
    background-color: rgb(190, 25, 25);
    ;
  }
  
  .button_nav {
    background-color: rgb(190, 25, 25);
    float: left;
    border: 1px rgb(190, 25, 25);
  }
  
  .accordion-container {
    display: flex;
    justify-content: flex-start;
  }
  
  .accordion {
    width: 32%;
    margin-left: 10px;
    float: left;
  }
  
  .accordion-button {
    color: black;
    font-weight: 600;
    background-color: rgb(190, 25, 25);
    /* Color de fondo normal */
  }
  
  .accordion-button:hover {
    background-color: rgb(190, 25, 25);
    /* Color de fondo al pasar el ratón */
    color: #fff;
  }
  
  .accordion-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
    /* Borde al obtener el enfoque */
  }
  
  .accordion-button:active {
    background-color: rgb(190, 25, 25);
    /* Color de fondo al ser pulsado */
  }
  
  .cuerpo {
    padding: 25px;
    width: 900px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Ancho del lateral derecho */
    box-sizing: border-box;
    height: 50%;
    margin-bottom: 200px;
    margin-left: 800px;
    top: 8%;
  }
  
  
  
  
  
  
  
  .facultad-programa {
    text-align: center;
    font-weight: bold;
  }
  
  .num {
    margin-left: 10%;
    margin-right: 20px
  }
  
  .ciclo .componenteCiclo {
    margin-left: 18%;
  }
  
  table {
    border-collapse: collapse;
     width: 100%;
     border: 2px solid #050505;
  }
  table td {
    border: 2px solid #000000;
    padding: 8px;
    text-align: left;
  }
  table table td {
    border: 2px solid #000000;
    padding: 8px;
    text-align: left;
  }
  
  #JustificationText {
    display: block;
  }
  
  .full-width-textarea {
    width: 100%;
    height: 100%;
    resize: none;
    /* Para evitar que el usuario redimensione el textarea */
  }