* {
  font-family: "Fira Sans", sans-serif;
}
.bg_primary {
  background-color:rgb(190, 25, 25);
}
.bg_secondary {
  background-color: #7a7a7a;
}
.bg_tertiary {
  background-color: #dddddd;
}

.color_primary {
  color: rgb(190, 25, 25);
}
.color_secondary {
  color: #7a7a7a;
}
.color_tertiary {
  color: #dddddd;
}

.bg-1 {
  background-image: url("../img/bgUnilibre.png");
  background-position: center;
  background-size: cover;
}
#hero {
  height: 100vh;
}
#btn_hover:hover {
  background-color: #9e0012;
}
