.btn-custom {
    border-radius: 300px; 
  }

.form-floating {
  border-radius: 100px;
  
}

.form-floating label {
  color:rgb(255, 255, 255);
 
  
  
}

.form-floating-container {
  background-color: gray;
  padding: 0px;  
  border-radius: 60px; 
  width: 5px;
  height: 2px;
}

.form-control {
  background-color: gray;
  color: white; 
 
  border-radius: 89px; 
  text-align: center;
}

.form-floating label {
  
  text-align: center; 
   
}
.form-control::placeholder {
  color: black;
}



.checkbox label {
  color: rgb(34, 28, 28);
}

h1 img{
  width: 370px ;
  height: auto;

}
a{
  color: grey;
  text-align: left;
  
}

.textois {
  font-family: 'Fira Sans', sans-serif; 
  font-size: 20px;
  font-weight: bold;
  text-align: center;

}
