@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s all ease;
}

.header{
    background-color: #1E1E1E;
}


.account-container, .asignatura, .acceso{
    border-radius: 20px;
    background-color: #DDDDDD;
    display: none;
}


.bg-color-dropdown{
  background-color: #7E7E7E;
}

.radius{
    border-radius: 20px;
}

.w-35{
    width: 35%;
}

.p-40{
    padding: 40px;
}

.bg-color{
  background-color: #7E7E7E;
}
.bg-gray{
  background-color: #999999;
}
.font-size{
  font-size: 1.5rem;
}
