* {
  font-family: "Fira Sans", sans-serif;
}
bg-primary {
  background-color: #f90000;
}
bg-secondary {
  background-color: #7a7a7a;
}
bg-tertiary {
  background-color: #414141;
}
bg-fondo {
  color: rgb(185, 185, 185) a;
}

color-primary {
  color: #f90000;
}
color-secondary {
  color: #7a7a7a;
}
color-tertiary {
  color: #414141;
}

