{% extends "layout.html" %} {% block content %}

<header>

</header>

<section>
    <textarea id="sourceTA" rows="10" cols="82" oninput="run()">
        Showdown Tutorial
        =================
        
        This is a showdown tutorial. 
        
        Showdown supports a number of cool features, namely:
        
          - headers 
          - lists
          - and other stuff too
        
        It is also possible to include code:
        
            var foo = 'bar';
        
            var baz = {
              markdown: 'is great',
              showdown: 'is awesome'
            }
        
        Don't forget to check the [extensions wiki][1].
        
        [1]: https://github.com/showdownjs/showdown/wiki/extensions
    </textarea>
</section>
<hr>
<section>
    <div id="targetDiv"></div>
</section>


<script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
<script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}
