{% extends "layout.html" %} {% block header %} {% endblock %} {% block content
%}
<section id="hero" class="bg-1 d-flex justify-content-around">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <img
          src="{{ url_for('static', filename='img/logoSyllabus.png') }}"
          alt="Logo syllabus virtual"
        />
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <div class="text-center p-4 w-100 rounded-5 bg_tertiary">
          <h2 class="fw-bold">Contraseña olvidada</h2>
          <p>
            Para restablecer tu contraseña ponte en contacto con un
            administrador.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}{% block scripts%} {% endblock %}
