{% extends "layout.html" %} {% block content %}
<section class="p-5">
  <h1 class="d-none">Menu syllabus universidad libre</h1>
  <h2 class="fw-bold color_secondary">
    Mis materias <i class="bx bxs-book"></i>
  </h2>
  <a href="" class="text-decoration-none">
    <div class="bg_primary p-2 container-fluid rounded" style="color: #fff">
      <div class="row">
        <div class="col-5 me-5">
          <p class="fw-bold">Nombre: <text id="valor1">xxxxxxx</text></p>
        </div>
        <div class="col-6">
          <p class="fw-bold">Código: <text id="valor1">xxxxxxxx</text></p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class="fw-bold">
            Ultima modificación: <text id="valor1">00/Enero/0000</text>
          </p>
        </div>
      </div>
    </div></a
  >
  <hr class="my-4" />
  <a href="" class="text-decoration-none">
    <div class="bg_primary p-2 container-fluid rounded" style="color: #fff">
      <div class="row">
        <div class="col-5 me-5">
          <p class="fw-bold">Nombre: <text id="valor1">xxxxxxx</text></p>
        </div>
        <div class="col-6">
          <p class="fw-bold">Código: <text id="valor1">xxxxxxxx</text></p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class="fw-bold">
            Ultima modificación: <text id="valor1">00/Enero/0000</text>
          </p>
        </div>
      </div>
    </div></a
  >
</section>
{% endblock %}{% block scripts%} {% endblock %}
