{% extends "layout.html" %} {% block content %}
<section class="p-5">
  <h1 class="d-none">Menu syllabus universidad libre</h1>
  <h2 class="fw-bold color_secondary">
    Mis materias <i class="bx bxs-book"></i>
  </h2>
  {% if data %} {% for row in data %}
  <a href="/editor/{{ row.subject_id }}?" class="text-decoration-none">
    <div class="bg_primary p-2 container-fluid rounded" style="color: #fff">
      <div class="row">
        <div class="col-5 me-5">
          <p class="fw-bold">Nombre: {{ row.subject_name }}</p>
        </div>
        <div class="col-6">
          <p class="fw-bold">Código: {{ row.subject_id }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-5 me-5">
          <p class="fw-bold">Programa de: {{ row.program_name }}</p>
        </div>
        <div class="col-6">
          <p class="fw-bold">
            Ultima modificación {{ row.version_update_date }}
          </p>
        </div>
      </div>
    </div></a
  >
  <hr class="my-4" />
  {% endfor %} {% else %}
  <div class="text-center p-4 w-100 rounded-5 bg_tertiary">
    <h2 class="fw-bold">Sin asignaturas</h2>
    <p>
      Usted no tiene ninguna asignatura en su perfil, contacte con algún
      administrador.
    </p>
  </div>
  {% endif %}
</section>
{% endblock %}{% block scripts%} {% endblock %}

<!-- VII. CONTENIDOS PROGRAMÁTICOS VIII. ESTRATEGIAS DE ENSEÑANZA DE APRENDIZAJE -->
<table>
  <tr>
    <td>
      <section class="contenido-estrategias">
        <div class="contenidoProgramatico">
          <div class="tContenidoProgramatico">
            <p>
              <span class="num">VII.</span>
              <strong>CONTENIDO PROGRAMATICO</strong>
            </p>
          </div>
        </div>
      </section>
    </td>
    <td>
      <!-- ESTRATEGIAS DE ENSEÑANZA DE APRENDIZAJE -->
      <div class="estrategias">
        <div class="estrategiasDeAprendizaje">
          <div class="tEstrategias">
            <p>
              <span class="num">VIII.</span>
              <strong>ESTRATEGIAS DE ENSEÑANZA-APRENDIZAJE</strong>
            </p>
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="campoContenidoProgramatico">
        <div class="bloques" id="program-content"></div>
      </div>
    </td>
    <td>
      <div class="campoEstrategias">
        <div class="bloques" id="strategies"></div>
      </div>
    </td>
  </tr>
</table>

<!--CONTENIDOS Y ESTRATEGIAS-->
<section id="contenidosYEstrategias">
  <table>
    <tr class="fw-bold text-center">
      <td>VII. CONTENIDOS PROGRAMÁTICOS</td>
      <td>VIII. ESTRATEGIAS DE ENSEÑANZAAPRENDIZAJE</td>
    </tr>
    {% for content in contentsAndStrategies_data %}
    <tr>
      <td>{{ content.content_name }} {{ content.sub_name }}</td>
      <td>{{ content.strategies }}</td>
    </tr>
    {% endfor %}
  </table>
</section>
